@import "colors";
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Hind:300,400,500');

body, html {
  //background: #fff;
}

// ant design layout
.menu-logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.menu-active {
  color: #fff !important;
}
